<div class="background" style="background-image:  url(' <%= cl_image_path("same_lunch_in_several_tupperware_mde7kn.jpg") %> ');" >

  <%= render 'shared/linker_icons' %>
  <%= render 'shared/home_linker' %>

  <%= link_to "root", root_path %>

</div>
