<div class="background" style="background-image:  url(' <%= cl_image_path("tupperware_lunch_table_profondeur_fb6cpn.jpg") %> ');" >

  <%= render 'layouts/linker_icons' %>

  <%= link_to "root", root_path %>

</div>
