<div class="background" style="background-image:  url(' <%= cl_image_path("several_lunchboxes_for_colleagues_cnrlaa.jpg") %> ');" >

  <%= render 'layouts/linker_icons' %>

  <%= link_to "root", root_path %>

</div>
