.background {
  background-size: cover;
  background-position: center;
  height: 100vh;
  & a {
    color: white;
  }
}


.background_home {
  background-size: cover;
  background-position: center;
  height: 100vh;
  & a {
    color: white;
  }
}
