<div class="background" style="background-image:  url(' <%= cl_image_path("sharing_food_wood_table_dpkhj9.jpg") %> ');" >

  <%= render 'layouts/linker_icons' %>
  <%= render 'layouts/home_linker' %>

  <%= link_to "root", root_path %>

</div>
