#log_in_modal {
  // background-image: linear-gradient(rgba(0,0,0,0.85), rgba(0,0,0,0.85)), url( 'https://res.cloudinary.com/dztlb3lh5/image/upload/v1504556662/group_of_young_people_eating.jpg_z853ab.jpg' )
  filter: rgba(0,0,0,0.9);
}


.modals-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 150px;
}

.modals-field {
  width: 100%;
}

.modals-header {
  font-family: 'Biorhyme', serif;
  font-weight: 100;
  font-size: 50px;
  color: white;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 15px;
}

.modals-moose_area {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.modals-mascotte {
  height: 85px;
  width: 85px;
  opacity: 1;
  filter: drop-shadow(0.9px 0.9px 0.75px rgba(31,32,37,0.9));
  padding-bottom: 25px;
  padding-top: 10px;
}

.modals-body {
  background-color: white;
  border-radius: 50px;
  padding: 20px 25px;
  margin: 20px 0px;
}
.modals-submit_area {
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.modals-submit_button {
  background-color: rgba(76,170,231,0.9);
  color: white;
  font-family: 'Biorhyme', serif;
  font-weight: 300;
  box-shadow: 1px 1px 4px rgba(31,32,37,0.5);
}

.modals-first_footer {
  display: flex;
  padding: 0px 20px;
  justify-content: space-between;
  align-items: center;
  i {
    font-size: 25px;
    color: #AE81FF;
    opacity: 0.85;
  }
}
.modals-second_footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  a {
    color: white;
    opacity: 0.7;
  }
}
