.about_us {
  // display: flex;
  // justify-content: space-around;
  // align-items: center;
}


.about_us_scroll_button {
  background-color: rgba(177,193,156,0.9);
  height: 5px;
  width: 100%;
  border-radius: 100%;
  filter: drop-shadow(3px 3px 3px rgba(31,32,37,0.8));
  transition-timing-function: ease-in-out;
  transition-duration: 0.43s;
  p {
    // display: none;
    visibility: hidden;
    // opacity: 0;
  }
}



.about_us_scroll_button:hover {
  background-color: rgba(177,193,156,0.7);
  filter: drop-shadow(10px 10px 12px rgba(31,32,37,0.9));
  filter: drop-shadow(-10px -10px 12px rgba(31,32,37,0.9));
  height: 50px;
  width: 65vw;
  margin: auto;
  border-radius: 10px;
  p {
    text-align: center;
    text-decoration: none;
    // display: block;
    // transition: visibility 0s linear 0.5s, opacity 0.5s linear;
  }
  font-size: 18px;
  color: rgba(173,170,100,1);
  padding: 10px 20px;
}

.about_us_scroll_button:hover {
  p {
    transition: visibility 0s linear 0.5s;
  }

  // , opacity 0.5s linear;
}
